fastapi==0.129.0
uvicorn[standard]==0.40.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
celery==5.6.2
redis==7.1.1
pymupdf==1.27.1
pandas==3.0.0
numpy==2.4.2
scikit-learn==1.8.0
python-dotenv==1.2.1
sentence-transformers==5.2.2
pdfplumber
python-multipart
pydantic
